.bg{

background-image: url("Background.jpg");
background-size: 100%;


} .a{

font-size: 30px ;
font-family: Arial;
font-weight:bold ;
margin-top: 40px;
margin-left:550px ;
position: absolute;


}.knight {
 height:200px ;
 margin-top: 360px;
 margin-left:80;
 position: absolute;

} .zombie {
 height: 200px;
 margin-top:360px;
 margin-left:1100px ;
 position: absolute;
 transform: scaleX(-1);


} 